{% extends 'admin/base.html.twig' %}

{% block title %}Product index{% endblock %}

{% block body %}
    <h1>Product index</h1>

    <div class="navigation text-right">
    {{ knp_pagination_render(products) }}
    </div>
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Actif</th>
                <th>Name</th>
                <th>Slug</th>
                <th>Description</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for product in products %}
            <tr>
                <td>{{ product.id }}</td>
                <td>{{ product.actif }}</td>
                <td>{{ product.name }}</td>
                <td>{{ product.slug }}</td>
                <td>{{ product.description|u.truncate(40)  }}</td>
                <td>
                    <a class="btn btn-info d-inline-block" href="{{ path('app_product_show', {'id': product.id}) }}">show</a>
                    <a class="btn btn-primary d-inline-block" href="{{ path('app_product_edit', {'id': product.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <div class="navigation text-right">
    {{ knp_pagination_render(products) }}
    </div>
    <a class="btn btn-dark" href="{{ path('app_product_new') }}">Create new</a>
{% endblock %}
